.error_email{
    position: absolute;
    top:129px
}

.error_password{
    position: absolute;
    top:187px
}


.custom-toast {
    width: 600px;
    height: 150px;
    font-size: 30px;
    padding: 0.5rem;

}